.container-cards {
  height: 50vh;
  max-width: 70%;
  padding: 50px 50px;
  gap: 50px;
  flex-wrap: wrap;
}

.btn-poke {
  color: rgb(75, 27, 27);
  height: 86px;
  background-image: url("../../Assets/pokeball.png");
  background-size: cover;
  align-items: flex-end;
  transition: 0.3s ease-in;
}

.btn-poke:hover {
  transform: scale(0.8);
}

.inputPoke {
  padding: 20px 0px;
  transition: 0.7s ease-in;
}

.inputPoke input {
  all: unset;
  padding: 10px 25px;
  width: 30%;
  box-shadow: 2px 2px 5px black;
  border-radius: 20px;
}

.inputPoke:hover {
  transform: scale(1.1);
}

.modal-card-poke {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  right: 0;
}

@media only screen and (max-width: 577px) {
  .inputPoke input {
    width: 50%;
    margin-right: 10px;
  }
}
