.cardPoke {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  min-width: 200px;
  height: 320px;
  flex-direction: column;
  box-shadow: 5px 5px 5px black;
  position: relative;
  font-family: monospace;
  transition: 0.8s ease-in;
}
.cardPoke:hover {
  transform: scale(1.2);
}
.cardPoke h2 {
  color: black;
  width: 80%;
}

.img-poke {
  width: 80%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
}

.img-pokeball {
  width: 30%;
  position: absolute;
  top: -42px;
  left: -25px;
}

.section-info {
  width: 80%;
}

.heigth-weight {
  width: 100%;
  justify-content: space-between;
}
