.Onepoke {
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 20px;
  min-width: 300px;
  height: 450px;
  flex-direction: column;
  box-shadow: 5px 5px 5px black;
  position: relative;
  font-family: monospace;
}

.Onepoke h2 {
  color: black;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.img-modal {
  width: 80%;
}

li {
  list-style: none;
}
